DB_USER=oficina
DB_PASSWORD=oficina
DB_NAME=oficina_db
DATABASE_URL=postgresql://oficina:oficina@localhost:5432/oficina_db
JWT_SECRET=dev_secret_key
JWT_EXPIRES_IN=8h
NODE_ENV=development
SONAR_TOKEN=sqp_f2e1ae41af69fbfa67c54f34e465ad6e064057cd